@font-face {
    font-family: h1;
    src: url(./fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: h2;
    src: url(./fonts/Poppins/Poppins-Light.ttf);
}
@font-face {
    font-family: p;
    src: url(./fonts/Poppins/Poppins-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec1{
    margin: auto;
    width: 1050px;
    height: 630px;
    background-image: url(./man1.jpeg);
    background-position: center;
    background-size: cover;
}
h1{
    font-family: h1;
    color: white;
    font-size: 35px;
    margin-left: 60px;
    padding-top: 320px;
}
.sec1 h1{
    font-family: h1;
    color: white;
    font-size: 35px;
    margin-left: 60px;
    padding-top: 320px;
}
.con3 h1{
    font-family: h1;
    color: white;
    font-size: 35px;
    margin-left: 60px;
    padding-top: 320px;
}
.inputs{
    padding: 10px;
    width: 280px;
    margin-left: 60px;
    margin-top: 20px;
    font-family: h2;
    border-style: none;
}
button{
    padding: 10px;
    margin-left: 5px;
    width: 120px;
    font-family: h1;
    border-style: none;
    background-color: #f1c50e;
    color: white;
}
button:hover{
    background-color: #ddbc38;
}
.sec2{
    margin: auto;
    background-color: #f1c50e;
    width: 1050px;
    height: 570px;
}
.sec2 .man2{
    position: absolute;
    top: 650px;
    left: 750px;

}
.sec2head{
    position: absolute;
    top: 470px;
    font-family: h1;
    color: black;
    font-size: 45px;
    line-height: 50px;
}
.sec2 p{
    font-family: p;
    position: absolute;
    left: 295px;
    top: 960px;
}
.emp{
    background-color: white;
}
.sec3{
    width: 1050px;
    height: 410px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box1{
    width: 262.5px;
    height: 410px;
    background-color: #e7331d;
    font-family: p;
    padding: 30px;
    color: white;
}
.box2{
    width: 262.5px;
    height: 410px;
    background-color: #f1c50e;
    font-family: p;
    padding: 30px;
    color: black;
}
.box3{
    width: 262.5px;
    height: 410px;
    background-color: #292d33;
    font-family: p;
    padding: 30px;
    color: white;
}
.box4{
    width: 262.5px;
    height: 410px;
    background-color: #555c66;
    font-family: p;
    padding: 30px;
    color: white;
}
.heads{
    font-size: 60px;
}
.subhead{
    font-size: 18px;
}
.para{
    font-family: h2;
    padding-top: 20px;
}
i{
    font-size: 50px;
    padding-top: 40px;
}
.sec4{
    margin: auto;
    width: 1050px;
    height: 1310px;
    background-color: #f1c50e;
}
.block{
    background-color: #292d33;
    float: right;
}
.img1set{
    left: 283px;
    top: 1700px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img1set01{
    background-image: url(./img1set01.jpg);
    background-position: center;
    background-size: cover;
}
.img1set02{
    background-image: url(./img1set02.jpg);
    background-position: center;
    background-size: cover;
}
.img2set{
    left: 283px;
    top: 2020px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.img2set01{
    background-image: url(./img2set01.jpg);
    background-position: center;
    background-size: cover;
}
.img2set02{
    background-image: url(./img2set02.jpg);
    background-position: center;
    background-size: cover;
}
.img2set03{
    background-image: url(./img2set03.jpg);
    background-position: center;
    background-size: cover;
}
.con3{
    position: absolute;
    top: 2350px;
    left: 283px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5px;
}
.b1{
    width: 300px;
    height: 500px;
    padding: 15px;
}
.b1 h1{
    padding: 5px;
    margin-left: 10px;
    color: black;
}
.b1 p{
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-family: p;
    line-height: 28px;
}
.b2{
    width: 300px;
    height: 500px;
    background-image: url(./PRFotografie_FirmenportraitskopfundkragenFotografie.jpg);
    background-position: center;
    background-size: cover;
}
.b3{
    width: 300px;
    height: 300px;
    background-image: url(./1q.png);
    background-position: center;
    background-size: cover;
}
.sec5{
    background-color: #292d33;
    margin: auto;
    padding-top: 130px;
}
.redbox{
    width: 640px;
    height: 310px;
    background-color: #ee1b24;
    margin: auto;
}
.manbw{
    position: absolute;
    top: 2970px;
    left: 560px;
    width: 400px;
    height: 500px;
    background-image: url(./pexelsphoto412840.jpeg);
    background-position: center;
    background-size: cover;
}
.q{
    position: absolute;
    color: white;
    text-align: center;
    top: 3530px;
    left: 540px;
}
.head3{
    font-family: h1;
    font-size: 30px;
}
.paras{
    font-family: p;
    position: absolute;
    color: white;
    text-align: center;
}
.social{
    background-color: #ee1b24;
    margin: auto;
    padding-top: 35px;
}
.social h2{
    font-family: h1;
    color: white;
    text-align: center;
    font-size: 32px;
    padding-top: 50px;
}
.icon{
    text-align: center;
}
.icon i{
    color: white;
    padding: 10px;
    font-size: 30px;
}
.icon i:hover{
    color: black;
}
.sec6{
    background-color: #292d33;
    margin: auto;
}
.yellow{
    position: relative;
    background-color: #f1c50e;
    margin-left: 380px;
}
.location{
    color: white;
    position: absolute;
    bottom: -3690px;
    padding: 60px;
    line-height: 30px;
}
.loc-head{
    font-family: h1;
    font-size: 32px;
    margin-top: 50px;
}
.loc-para{
    font-family: h2;
    font-size: 20px;
    margin-top: 40px;
}
.location i{
    margin-top: -25px;
    padding-right: 20px;
    font-size: 32px;
}
.location i:hover{
    color: #ddbc38;
}
.copy{
    font-family: h2;
    margin-top: 20px;
}
.form-set{
    color: white;
    position: absolute;
    bottom: -3690px;
    left: 690px;
    font-family: h1;
    padding: 30px;
}
.form-set h4{
    font-size: 32px;
    margin-bottom: 10px;
}
.form-set input{
    padding: 10px;
    font-size: 15px;
    width: 480px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: none;
    font-family: h2;
    border-radius: 5px;
}
.form-set textarea{
    padding: 10px;
    font-size: 15px;
    width: 480px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: none;
    font-family: h2;
    border-radius: 5px;
}
.form-set .btn{
    padding: 10px;
    font-size: 18px;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: h2;
    background-color: #f1c50e;
    border-color: white;
    color: white;
    border: 2px solid;
}